.log-text {
    font-family: 'Monospace', monospace;
    color: #28008e;
    padding: 15px;
}

.scrolled-frame {
    border: 1px solid #333;
    border-radius: 8px;
    margin: 15px;
}

.header-label {
    font-weight: bold;
    margin: 15px 15px 5px 20px;
}